<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidcalorietracker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCalorieTracker" >
        <activity
            android:name=".xViews.LoginOrCreateUserActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xViews.CreateNewUserActivity"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".xViews.MeasureByHandItemInputActivity"
            android:exported="true" />
        <activity
            android:name=".xViews.ScaleItemEntryActivity"
            android:exported="true" />
        <activity
            android:name=".xViews.ChooseMeasurementActivity"
            android:exported="true" />
        <activity
            android:name=".xViews.AddMealActivity"
            android:exported="true" />
        <activity
            android:name=".xViews.MainActivity"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>